.family-details {
  background-color: white;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3em;
  margin-left: 15em;
  padding: 2em;
}

.family-details-content {
  background-color: white;
  width: 100%;
  margin-top: 2em;
}

.heading {
  background-color: #f0f3f5;
  text-align: left;
  padding: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.detailform {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.form-group {
  margin-top: 1em;
  flex-basis: 100%;
  color: black;
}

.form-group label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 16px;
  color: #172B4D;
}

.form-group input[type='radio'] {
  margin-right: 0.5em;
}

.form-group input[type='text'] {
  padding: 0.5em;
  width: 100%;
}

.form-group #relativessurname,
.form-group #familywealth {
  width: 100%;
}

.form-group0 {
  float: left;
  width:22%;
  margin-left: 0.4em;
  margin-top: 1em;
  color: black;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-group1 input[type='text'] {
  padding: 0.5em;
  width: 100%;
}

.reminder h2 {
  animation: blink 2s infinite;
  color: red;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .family-details {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-group {
    flex-basis: 50%;
  }
}
/* Tablet - 768px */
@media (max-width: 768px) {
  .family-details {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .form-group {
    flex-basis: 50%;
  }
}
/* Laptop - 900px */
@media (max-width: 900px) {
  .family-details {
    width:85%;
    margin-left:0%;

  }

  .form-group {
    flex: 100%;
  }
  .form-group input[type="text"],
  .form-group select{
    width:80% !important;

  }
}
@media (min-width: 900px) {
  .family-details {
    width:75%;
    margin-left:10%;
    margin-right: 10%;

  }
  .form-group {
    flex: 100%;
  }
}
.personalgroup{
  margin-top: 1em;
}
.profilegroup{
  float: left;
  width: 66%;
}