.horoscope-details {
  background-color: white;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3em;
  margin-left: 12em;
  padding: 2em;
}
    .horoscope-details-content{
      background-color: white;
      width: 100%;
      margin-top:2em;
    }
    
    .heading {
      background-color: #f0f3f5;
      text-align: left;
      padding: 0.5em;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .detail-form {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
    }
    
    .form-group {
      margin-top: 1em;
      flex-basis: 30%;
      color: black;
    }
    
    .form-group label {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 400;
      font-size: 16px;
      color: #172B4D;
    }
    
    .form-group input[type='radio'] {
      margin-right: 0.5em;
    }
    .form-group input[type='text'] {
      padding:0.5em;
    }
    .reminder h2 {
      animation: blink 2s infinite;
      color: red;
    }
    
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
/* Tablet - 600px */
@media (max-width: 600px) {
  .horoscope-details {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-group {
    flex-basis: 50%;
  }
}
/* Tablet - 768px */
@media (max-width: 768px) {
  .horoscope-details {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .form-group {
    flex-basis: 50%;
  }
}
/* Laptop - 900px */
@media (max-width: 900px) {
  .horoscope-details {
    width:85%;
    margin-left:0%;

  }

  .form-group {
    flex: 100%;
  }
  .form-group input[type="text"],
  .form-group select{
    width:80% !important;

  }
}
@media (min-width: 900px) {
  .horoscope-details {
    width:75%;
    margin-left:10%;
    margin-right: 10%;

  }
  .form-group {
    flex: 100%;
  }
  .form-group input[type="text"],
  .form-group select{
    width:80% !important;

  }
}
