.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.1px solid #24374B;
  padding: 1em;
}

.footer-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  color: #24374B;
}

.footer-item {
  margin-right: 1em;
}

.footer-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .footer-list {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .footer-item {
    margin: 0.5em;
  }
}
